    /* footer */

    .footer-section{
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(229, 76, 42);
    }

    .footer-sentence{
      color: white;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }

    @media only screen and (max-width:760px){
      .footer-sentence{
        font-size: 15px;
      }
    }


    @media only screen and (max-width:480px){
      .footer-sentence{
        font-size: 13px;
      }
      .center-align{
        width: 95%;
      }
    }